#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    display: inline-block;
}

.box {
    display: block; 
    width:2px; 
    height:2px; 
    border: 2px solid black; 
    padding: 10px; 
    margin: 0px;

}

#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}